<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merrickswaffar.golift">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:logo="@drawable/logo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" />
        <activity android:name=".WorkoutLog" />
        <activity android:name=".MealLog" />
        <activity android:name=".ViewProgress" />
        <activity android:name=".ViewWorkouts" />
        <activity android:name=".ViewNutrition" />
        <activity android:name=".ShowMeals" />
        <activity android:name=".ShowExercises" />
        <activity android:name=".Quiz" />
        <activity android:name=".QuizResults" />
        <activity android:name=".DayOverview" />
        <activity android:name=".UserInfo" />
        <activity android:name=".UpdateUserInfo"></activity>
        <activity android:name=".TakeQuiz"></activity>
    </application>

</manifest>